@tailwind base;
@tailwind components;
@tailwind utilities;

.panel-transition {
  @apply ease-panel duration-panel;
}

.html-content > :not(:first-child) {
  @apply mt-6px;
}
.html-content a,
.html-content p, 
.html-content span {
  @apply break-words;
  /* word-break: break-word; */
}
.html-content a {
  @apply text-brandOrange/80;
}
.html-content pre {
  @apply flex py-[5px] px-2px bg-itemSelected font-mono whitespace-pre-wrap break-all overflow-x-auto;
  /* overflow-wrap: anywhere; */
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
} */

/* * {
  box-sizing: border-box;
} */